@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color:#183b56;
    --secondry-text-color:#577592;
    --accent-color:#2294ed;
    --accent-dark-color:#1d69ed;
    --padding-inline-section:20px;
}
body{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-text-color);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.4rem;
    color: var(--secondry-text-color);
    line-height: 1.7rem;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
    
}

.sub-bold-text{
    font-size: 1rem;
    font-weight: 700;
}
.top-banner{
    background-color: #4fb3d4;
    background-image: url('./assetsM/asset\ 32.png');
    background-size: 300px;
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}
.main-nav{
    margin-top: 20px;
    justify-content: space-between;
    position: relative;

}
.company-logo img{
    width: 200px;


}
.nav-link{
    flex-basis: 730px;
}
.nav-link ul{
justify-content: end;
gap: 40px;

}
.nav-toggle{
    display: none;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}
.sec-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondry-text-color);
    transition: 0.3s ease-out;
    text-align: center;
}
.sec-button:hover{
    background-color: var(--accent-dark-color);
}
.pri-button{
    border: 0.5px solid var(--secondry-text-color);
    border-radius: 6px;
    font-weight: 700;
    columns: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.3s ease-out;
}
.pri-button:hover{
    border-color: var(--accent-color);
}
.flex{
    display: flex;
    align-items: center;
}
.hover-link{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}
.hover-link:hover{
    color: var(--accent-dark-color);
}
.header{
    padding: 50px var(--padding-inline-section) 0;
}
.header-section{
    justify-content: center;
    padding:50px;
}
.get-st-button{
    margin-top: 20px;
}
.left-header{
    max-width: 40vw;
}
.left-header h1{
    margin-top: 20px;
}
.right-header img{
    width: 100%;
}
.cop-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}
.logos{
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:20px
}
.logo{
    height: 46px;
}
.bt-text{
    color: var(--primary-text-color);
}
/*features-section*/
.feature-section{
    padding: 80px var(--padding-inline-section)0;
    background-image: url(./assetsM/asset\ 34.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.feature-header{
    text-align: center;
    margin-bottom: 40px;
}
.feature-header h2{
    margin-bottom: 20px;
}
.feature-card{
    flex-direction: column;
    gap:20px;
    max-width:30%;
    text-align: center;
}
.feature-card img{
    width: 60px;
}
.feature-area{
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;

}
.feature-area .pri-button:hover{
    color: var(--secondry-text-color);
}
.big-feature-section{
    padding: 30px var(--padding-inline-section)0;
}
.big-feat-cont{
    gap: 30px;
}
.feature-img img{
    width: 100%;
}
.feature-desc{
    flex-direction: column;
    align-items: flex-start;
}
.example-header{
    flex-direction: column;
    gap: 20px;
}
.example-area{
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;
}
.example-card{
    width: 23%;
    position: relative;
    height: 300px;
    background: black;
    transition: 0.3s ease-out;
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url(./assetsM/asset\ 37.jpeg);
}
.example-card:hover{
    box-shadow: 0 0 10px #888;
}

.example-card:nth-child(2){
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url(./assetsM/asset\ 38.jpeg);
    background-size: cover;
}
.example-card:nth-child(3){
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url(./assetsM/asset\ 36.jpeg);
    background-size: cover;
}
.example-card:nth-child(4){
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url(./assetsM/asset\ 39.jpeg);
    background-size: cover;
}

.example-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}
.cta-sec{
    flex-direction: column;
    gap:30px;
    text-align: center;
    
}
.cta-sec p,h2{
    color: white;
    margin-top: 20px;
}
.cta-section{
    background-color: #183b54;
    padding: 120px var(--padding-inline-section) 80px;
}
footer{
    padding-block: 80px;
    background-color: #ebf2fa;

}
.link-colum{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

}
.con-fotter{
    justify-content: space-between;
    align-items: flex-start;
    
}
.sub-footer{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}
.sub-fot{
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


